---
import Layout from "../layouts/Layout.astro"



let title = "Space Travel | Homepage";
let description = "Space Travel Project";

---
<Layout title={title} description={description}>
    <style>
        h2{
            font-size: 2.25rem;
            padding-block: 0 0.5rem;
        }
        .image_wrapper{
        display: flex;
            justify-content: center;
            padding-top: 4rem;
        }
    </style>
    <h1>404</h1>
      
    <h2>This is an dead end ...</h2>
         <a href="/">
            Take me home.
        </a>
</Layout>
