---
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"

let title = "Space Travel | Homepage";
let description = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---
<style lang="scss">
	main{
		text-align: center;
		margin-top: 3rem;
		.home_text{
			span{
				padding-block: 1rem;
			}
			p{
				max-width: 40ch;
				margin-inline: auto;
			}
		}
	}
	@media (min-width: 23.5em){
		main{
			margin-top: 6rem;
		}
	}
	@media (min-width: 48.1em){
		main{
			text-align: left;
			display: grid;
			grid-template-columns: 10rem 1fr 1fr 10rem;
			.home_text{
				grid-column: 2;
				align-self: end;
				padding-bottom: 8rem;
				p{
					padding-top: 1.5rem;
					max-width: 27.75rem;
					margin:0;
				}
			}
		}
	}
	
</style>
<Layout title={title} description={description} permalink={permalink} current="home" {canonicalURL}>
	<main id="main-content" aria-label="main">
		<div class="home_text">
			<h1 class="h5 h5-space ff-sans-cond text-accent uppercase">
				So, you want to travel to <span class="d-block h1 ff-serif text-light">Space</span>
			</h1>
			<p class="text-accent">
				Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
			</p>
		</div>
		<Button text="explore"/>
	</main>
</Layout>
