---
import Layout from "../layouts/Layout.astro"



let title = "Space Travel | Homepage";
let description = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---
<Layout title={title} description={description} permalink={permalink} current="home" {canonicalURL}>
	<h1>
		So, you want to travel to <span>Space</span>
	</h1>
	<p>
		Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
	</p>
	<a href="/destination/moon">
		Explore
	</a>
</Layout>
