
<header aria-label="navigation">
    <nav>
        <a href="/">
            <img src="/assets/shared/logo.svg" alt="logo of space travel"/>
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
             <li>
                <a href="/destination">Destination</a>
            </li>
             <li>
                <a href="/crew">Crew</a>
            </li>
            <li>
                <a href="/technology">Technology</a>
            </li>
        </ul>
    </nav>
</header>