---
const {title,number} = Astro.props
---
<style>
    span{
        margin-right: 1.125rem;
        color: hsl(var(--light)/0.25);
        font-weight: bold;
    }
    @media (min-widht: 45em){
        margin-right: 1.75rem;
    }
</style>
<h1 class="h5 h5-space uppercase"><span>{number}</span>{title}</h1>